@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	background-image:url("doc1.jpg"); 
	background-repeat:no-repeat;
	background-size:cover;
	padding:0px;
}

/*-- Form design begin */

.form{
    height:500px;
	width:500px;
	background:white;
	margin:20px auto;
	margin-top:100px;
	margin-left:570px;
}
.form .para{
          color:#585858;
          font-size:18px;
}
.form .input_field{
	font-family: 'Montserrat', sans-serif;
}
.form .input_field .left_input{
	float:left;
	height: 40%;
}
.form .input_field .left_input{
	float:right;
	height: 40%;
}
.input{
	padding:8px;
}
.btn{
	background-color: red;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer; 
	color:white;
	border:none;
	border-radius: 4px;
	padding:8px;
}